body {
    background-color: #698474;
}

.content {
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    padding-bottom: 20px;
}

.footer {
    padding-top: 40px;
    height: 100px;
    text-align: center;
    color: white;
}